<h1>Комментарии к Библии</h1>

<table>
  <tr>
    <th>Заголовок</th>
    <th>Ссылка на Библию</th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= link_to comment.title, comment %></td>
    <td><%= comment.bible_links %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to('New Comment', new_comment_path) if can? :create, Comment %>
